pylast
telethon
wheel
requests
curl_cffi
psutil
aiohttp
Pillow
git+https://github.com/trentm/python-markdown2.git
pretty_errors
datetime
pytz
bs4
pybase64
pySmartDL
heroku3
gitpython
PyGithub
python-decouple
pyshorteners
lxml
asyncio
beautifulsoup4
unshortenit
nums_from_string
feedparser
python-decouple
python-amazon-paapi
aiofiles
cffi
cryptg
pyaes
pyasn1
pycparser
python-dotenv
rsa
redis
aria2
